/.bsp/
target/

### Bloop ###
.bloop/

### Metals ###
.metals/
project/**/metals.sbt

### Scala ###
*.class
*.log

### VSCode ###

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Misc
.DS_Store
*.pem

.idea/